# Note about Labs 5 and 6

Due to a scheduling mixup (my fault), I need to combine Labs 5 and 6 together.
Do not worry, it is not "twice" the amount of work - the lab is almost the same length (maybe a little longer) but it is about two disparate topics: advanced git and data visualizations.

# Lab 5

After many years of searching, I have found the [**PERFECT** tutorial](http://learngitbranching.js.org) to help you get more familiar with git commands, particularly branching, and merging - things you will start encountering when you start collaboratively working on the projects.
Rather than make this a milestone task though, I will be including it as part of Lab 5.
It's included here so you know that you should do this part of the lab before proceeding to Task 3 onwards.
You are responsible for completing the following modules (at minimum):

- "Main: Introduction Sequence" <- This should mostly be review.
  - Exercise 1
  - Exercise 2
  - Exercise 3
  - Exercise 4
  

- "Remote: Push & Pull -- Git Remotes" <- This is new stuff and you should spend time working through the tutorial.
  - Exercise 1
  - Exercise 2
  - Exercise 3
  - Exercise 4
  - Exercise 5
  - Exercise 6
  - Exercise 7
  - Exercise 8

Please include screenshots for your Git Tutorial here:

I have experience with git. I don't see any need to do this tutorial.
You can one of my repos in github if you want to make sure.
https://github.com/keyvankhademi/canvas-gamification

# Lab 6

In [180]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## A: Setting the Aesthetics for the plots (2 marks)

### A1: Set the Seaborn figure theme and scale up the text in the figures (2 marks)

There are five preset Seaborn themes: `darkgrid`, `whitegrid`, `dark`, `white`, and `ticks`. 
They are each suited to different applications and personal preferences.
You can see what they look like [here](https://seaborn.pydata.org/tutorial/aesthetics.html#seaborn-figure-styles).

Hint: You will need to use the `font_scale` property of the `set_theme()` function in Seaborn.

In [181]:
# Your Solution Here
sns.set_style("whitegrid")
sns.set_theme(font_scale=2)

## B: Exploratory Data Analysis (40 marks)

### B1. Describe your dataset (2 marks)

Consider the following questions to guide you in your exploration:

- Who: Which company/agency/organization provided this data?
 - The information was scraped from http://serebii.net/
- What: What is in your data?
 - This dataset contains information on all 802 Pokemon from all Seven Generations of Pokemon. The information contained in this dataset include Base Stats, Performance against Other Types, Height, Weight, Classification, Egg Steps, Experience Points, Abilities, etc.
 - Detailed description of the columns is available in the dataset
 description
- When: When was your data collected (for example, for which years)?
 - Unknown. The author said he was following pokemon for 10 years.
 so I speculate it contains all the data that exist from all the Pokemons.
- Why: What is the purpose of your dataset? Is it for transparency/accountability, public interest, fun, learning, etc...
 - As this data is related to a video game I speculate the
 purpose of this data is for fun.
- How: How was your data collected? Was it a human collecting the data? Historical records digitized? Server logs?
 - The data was scraped from http://serebii.net/.


**Most of the answers came from the description of the dataset**

**Hint: The [pokemon dataset is from this Kaggle page.](https://www.kaggle.com/rounakbanik/pokemon)**

*Hint: You probably will not need more than 250 words to describe your dataset. All the questions above do not need to be answered, it's more to guide your exploration and think a little bit about the context of your data. It is also possible you will not know the answers to some of the questions above, that is FINE - data scientists are often faced with the challenge of analyzing data from unknown sources. Do your best, acknowledge the limitations of your data as well as your understanding of it. Also, make it clear what you're speculating about. For example, "I speculate that the {...column_name...} column must be related to {....} because {....}."*

### B2. Load the dataset from a file, or URL (1 mark)

This needs to be a pandas dataframe. Remember that others may be running your jupyter notebook so it's important that the data is accessible to them. If your dataset isn't accessible as a URL, make sure to commit it into your repo. If your dataset is too large to commit (>100 MB), and it's not possible to get a URL to it, you should contact your instructor for advice.

You can use this URL to load the data: https://github.com/firasm/bits/raw/master/pokemon.csv

In [182]:
# Your solution here

df = pd.read_csv("https://github.com/firasm/bits/raw/master/pokemon.csv")
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

### B3. Explore your dataset (3 marks)

Which of your columns are interesting/relevant? Remember to take some notes on your observations, you'll need them for the next EDA step (initial thoughts).

I don't know what we are doing with this dataset yet.
But all the columns seems to be interesting/relevant except total.

#### B3.1:  You should start with [`df.describe().T`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html) (2 marks)

See [linked documentation]((https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html) for the use of `include`/`exclude` to look at numerical and categorical data.

In [183]:
# Your solution to output `df.describe.T` for numerical columns:

df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [184]:
# Your solution to output `df.describe.T` for categorical columns:

df.describe(include=[object])

            Name Type 1  Type 2
count        800    800     414
unique       800     18      18
top     Regirock  Water  Flying
freq           1    112      97

#### B3.2 Let's try `pandas_profiling` now. (1 mark)

**Hint: To install the [`pandas_profiling`](https://towardsdatascience.com/exploratory-data-analysis-with-pandas-profiling-de3aae2ddff3) package, you'll need to use `conda`:**

- `conda install -c conda-forge pandas-profiling`

In [185]:
import pandas_profiling

# Your solution for `pandas_profiling`

# TODO: Commented for performance, Uncomment before submitting
# pandas_profiling.ProfileReport(df, title="Pandas Profiling Report")

### B4. Initial Thoughts (2 marks)

#### B4.1. Use this section to record your observations. (2 marks)

Does anything jump out at you as surprising or particularly interesting? 

As pokemons have a lot of attributes. It's interesting for me
to figure out which ones are the strongest or which ones
synergizes well together.

Where do you think you'll go with exploring this dataset? Feel free to take notes in this section and use it as a scratch pad.

I'd like to figure out if there is any corelation between pokemons'
attributes.

Any content in this area will only be marked for effort and completeness.

#### # Your observations here:

- There are 800 pokemons with 18 different types.
- Although the description of the dataset said there are 7 generations,
There are 6 different generations of pokemons in the dataset
(I don't know what they mean yet).
- The attributes are roughly in the range of 1 - 255

### B5. Wrangling (5 marks)

The next step is to wrangle your data based on your initial explorations. Normally, by this point, you have some idea of what your research question will be, and that will help you narrow and focus your dataset. 

In this lab, we will guide you through some wrangling tasks with this dataset.

#### B5.1. Drop the 'Generation', 'Sp. Atk', 'Sp. Def', 'Total', and the '#' columns (1 mark)

In [186]:
# Your solution here

df = df.drop(columns=['Generation', 'Sp. Atk', 'Sp. Def', 'Total', '#'])
df

,Name,Type 1,Type 2,HP,Attack,Defense,Speed,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,45,False
1,Ivysaur,Grass,Poison,60,62,63,60,False
2,Venusaur,Grass,Poison,80,82,83,80,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,80,False
4,Charmander,Fire,NaN,39,52,43,65,False
...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,50,True
796,DiancieMega Diancie,Rock,Fairy,50,160,110,110,True
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,70,True
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,80,True
799,Volcanion,Fire,Water,80,110,120,70,True

#### B5.2. Drop any NaN values in HP, Attack, Defense, Speed (1 mark)

In [187]:
# Your solution here
df = df.dropna(subset=['HP', 'Attack', 'Defense', 'Speed'])
df

,Name,Type 1,Type 2,HP,Attack,Defense,Speed,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,45,False
1,Ivysaur,Grass,Poison,60,62,63,60,False
2,Venusaur,Grass,Poison,80,82,83,80,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,80,False
4,Charmander,Fire,NaN,39,52,43,65,False
...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,50,True
796,DiancieMega Diancie,Rock,Fairy,50,160,110,110,True
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,70,True
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,80,True
799,Volcanion,Fire,Water,80,110,120,70,True

#### B5.3. Reset the index to get a new index without missing values (1 mark)

In [188]:
# Your solution here

df = df.reset_index(drop=True)
df

,Name,Type 1,Type 2,HP,Attack,Defense,Speed,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,45,False
1,Ivysaur,Grass,Poison,60,62,63,60,False
2,Venusaur,Grass,Poison,80,82,83,80,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,80,False
4,Charmander,Fire,NaN,39,52,43,65,False
...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,50,True
796,DiancieMega Diancie,Rock,Fairy,50,160,110,110,True
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,70,True
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,80,True
799,Volcanion,Fire,Water,80,110,120,70,True

#### B5.4. A new column was added called `index`; remove it. (1 mark)

In [189]:
# Your solution here

# Already dropped with drop=True but the following line will do it
# df.drop(columns=['index'])

#### B5.5. Calculate a new column called "Weighted Score" that computes an aggregate score comprising:

- 20% 'HP'
- 40% 'Attack'
- 30% 'Defense'
- 10% 'Speed'

**(1 mark)**

In [190]:
# Your solution here

df['Weighted Score'] = 0.2*df['HP']+0.4*df['Attack']+0.3*df['Defense']+0.1*df['Speed']
df

,Name,Type 1,Type 2,HP,Attack,Defense,Speed,Legendary,Weighted Score
0,Bulbasaur,Grass,Poison,45,49,49,45,False,47.8
1,Ivysaur,Grass,Poison,60,62,63,60,False,61.7
2,Venusaur,Grass,Poison,80,82,83,80,False,81.7
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,80,False,100.9
4,Charmander,Fire,NaN,39,52,43,65,False,48.0
...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,50,True,100.0
796,DiancieMega Diancie,Rock,Fairy,50,160,110,110,True,118.0
797,HoopaHoopa Confined,Psychic,Ghost,80,110,60,70,True,85.0
798,HoopaHoopa Unbound,Psychic,Dark,80,160,60,80,True,106.0
799,Volcanion,Fire,Water,80,110,120,70,True,103.0

### B6. Research questions (2 marks)

#### B6.1 Come up with at least two research questions about your dataset that will require data visualizations to help answer. (2 marks)

Recall that for this purpose, you should only aim for "Descriptive" or "Exploratory" research questions.

**Hint1: You are welcome to calculate any columns that you think might be useful to answer the question (or re-add dropped columns like 'Generation', 'Sp. Atk', 'Sp. Def'.***

**Hint2: Try not to overthink this; this is a toy dataset about Pokémon, you're not going to solve climate change or cure world hunger. Focus your research questions on the various Pokémon attributes, and the types.**

#### # Your solution here: 

**1. Sample Research Question:** Which Pokemon Types are the best, as determined by the Weighted Score?

**2. Your RQ 1:** How may pokemons are there for each generation?

**3. Your RQ 2:** Which generation of pokemons are stronger
according to 'Weighted Score'

### B7. Data Analysis and Visualizations

#### B7.1. **Sample Research Question:** Which Pokemon Types are the best, as determined by the Weighted Score? (3 marks)

To answer this question, we will first need to do wrangle the data to return the mean Weighted_Score, split by the Pokemon Type 1. 

Here is the goal of this analysis:

<img src="groupby.png" width="200px">

In [191]:
# Your Solution here

#### B7.2. Create a violin plot to show the distribution of Weighted_Scores split by all the Pokémon types. (2 marks)

Here is the goal:

<img src="violin.png" width="350px">

In [192]:
# Your Solution here

#### B7.3. Create a Box Plot and overlay a strip plot (2 marks)

Here is the goal:

<img src="BoxPlot.png" width="350px">

In [193]:
# Your Solution here

#### 7.4. Create a [Hexbin plot with marginal distributions](http://seaborn.pydata.org/generated/seaborn.jointplot.html) (2 marks)

This plot helps you visualize large amounts of data (and its distributions) by using colours to represent the number of points in a hexagonal shape.

Here is the goal:

<img src="jointplot.png" width="350px">

In [194]:
# Your Solution here

#### B7.5. Create a [PairPlot](https://seaborn.pydata.org/generated/seaborn.pairplot.html#seaborn.pairplot) of the quantiative features of the pokémon dataset (1 mark)

Here is the goal:

<img src="pairplot.png" width="350px">

In [195]:
# Your Solution here

#### B7.6. Create a visualization that helps you answer your first research question (2 marks)

In [196]:
# Your Solution here

#### B7.7. Create a visualization that helps you answer your second research question (2 marks)

In [197]:
# Your Solution here

### B8. Summary and conclusions (3 marks)

#### B8.1. Summarize your findings and describe any conclusions and insight you were able to draw from your visualizations. (3 marks)

- **Sample Research Question:** Which Pokemon Types are the best, as determined by the Weighted Score? (3 marks)

    - Summary of findings, insight, and conclusions
    - ..
    

- **Research Question 1:** RQ here

    - Summary of findings, insight, and conclusions
    - ..
    

- **Research Question 2:** RQ here

    - Summary of findings, insight, and conclusions
    - ..

## C. Method Chaining (8 marks)

Method chaining allows you to apply multiple processing steps to your dataframe in a fewer lines of code so it is more readable. You should avoid having too many methods in your chain, as the more you have in a single chain, the harder it is to debug or troubleshoot. I would target about 5 methods in a chain, though this is a flexible suggestion and you should do what makes your analysis the most readable and group your chains based on their purpose (e.g., loading/cleaning, processing, etc…).

**Note: See Milestone 2 for a more thorough description of method chaining.**

#### C1. Use Method Chaining on the commands from sections B5.1, B5.2, B5.3, B5.4, B5.5. (4 marks)

In [198]:
# Your Solution here

#### C2. Use Method Chaining to do the tasks below. (4 marks)

1. Remove all Pokémon 6th generation and above.
2. Remove the Legendary column.
3. Remove all rows that contain "Forme", a special form of Pokémon.
4. Remove all rows that contain "Mega", another weird special form of Pokémon.

**Hint: You will need to use the [.loc](https://towardsdatascience.com/effective-data-filtering-in-pandas-using-loc-40eb815455b6) in combination with the anonymous function lambda.**

In [199]:
# Your Solution here

## D. (OPTIONAL) Advanced Visualizations

### D1. Create a ["Ridgeline"](https://seaborn.pydata.org/examples/kde_ridgeplot.html) plot fron the plots from B7.2 and B7.3 (2 marks).

Here is the goal:

<img src="ridgeline.png" width="300px">

In [200]:
# Your Solution Here